*{
    margin:0;
    padding : 0;
    box-sizing: border-box;
}
#gameContainer{
    /* background-color: salmon; */
    width: 900px;
    margin: 0 auto
}


#statusContainer{
    position:relative ;
}


#infoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -90px;
    left: 170px;
}

#playerPortrait{
    background-color: silver;
    height: 80px;
    width: 80px;
}

#health{
    border: 1px solid black;
    background-color: blueviolet;
    width: 600px;
}

#healthBar{
    background-color: rgb(43, 226, 86);
    width: 100%;
    height: 40px;
}